{% load i18n %}
{% load static %}
<div class="mx-6 my-4">
  <section class="is-flex is-justify-content-center is-mobile">
    <div style="width: auto; position: relative">
      <div class="is-white-bg p-1 is-rounded button is-avatar is-hidden-overflow">
        <img class="image" src="{{ bio.image.url }}" alt="{{ bio.full_name }}">
      </div>
      {% if bio.full_name %}
        {% if LANGUAGE_CODE == 'en' %}
        <p class="my-3 is-font-md">{% if bio.academic_title %}<span class="tag is-primary is-light is-medium"> {{ bio.academic_title }}</span>{% endif %} {{ bio.full_name }}</p>
        {% else %}
        <p class="my-3 is-font-md is-arabic">{{ bio.ar_full_name }} {% if bio.ar_academic_title %}<span class="tag is-primary is-light is-medium is-arabic">{{ bio.ar_academic_title }}</span>{% endif %}</p>
        {% endif %}
      {% endif %}
    </div>
  </section>
</div>

{% if bio.full_name %}
{% if LANGUAGE_CODE == 'en' %}
<div class="box mx-6 my-4" id="main">
{% else %}
<div class="box mx-6 my-4" id="main" style="direction:rtl">
{% endif %}
    <section class="is-flex is-justify-content-center is-mobile">
      <div>
        <!-- birthday icon -->
        <span class="icon-text m-2">
          <i class="bi bi-balloon-fill is-icon"></i>
          <span class="is-main">{{ bio.birthday|date:"Y" }}</span>
        </span>
        <!-- gender icon -->
        <span class="icon-text m-2">
          {% if LANGUAGE_CODE == 'en' %}
            {% if bio.gender == 'Male' %}
            <i class="bi bi-gender-male is-icon"></i>
            {% else %}
            <i class="bi bi-gender-female is-icon"></i>
            {% endif %}
            <span class="is-main">{{ bio.gender }}</span>
          {% else %}
            {% if bio.gender == 'Male' %}
            <i class="bi bi-gender-male is-icon"></i>
            <span class="is-main is-arabic">ذكر</span>
            {% else %}
            <i class="bi bi-gender-female is-icon"></i>
            <span class="is-main is-arabic">أنثى</span>
            {% endif %}
          {% endif %}
        </span>
        <!-- location icon -->
        <span class="icon-text m-2">
          <i class="bi bi-globe is-icon"></i>
          {% if LANGUAGE_CODE == 'en' %}
          <span class="is-main">{{ bio.nationality }}</span>
          {% else %}
          <span class="is-main is-arabic">{{ bio.ar_nationality }}</span>
          {% endif %}
        </span>
        <!-- graduation year icon -->
        <span class="icon-text m-2">
          <i class="bi bi-mortarboard-fill is-icon"></i>
          {% if LANGUAGE_CODE == 'en' %}
          <span class="is-main">{{ bio.degree }}</span>
          {% else %}
            {% if bio.degree == 'PhD' %}
            <span class="is-main is-arabic">دكتوراة</span>
            {% elif bio.degree == 'MSc' %}
            <span class="is-main is-arabic">ماجستير</span>
            {% elif bio.degree == 'Higher Diploma' %}
            <span class="is-main is-arabic">دبلوم عالي</span>
            {% else %}
            <span class="is-main is-arabic">بكلوريوس</span>
            {% endif %}
          {% endif %}
        </span>
      </div>
    </section>

    <hr class="navbar-divider" />

    {% if LANGUAGE_CODE == 'en' %}

    <div class="is-flex is-justify-content-space-around is-flex-wrap-wrap">
      <div class="is-flex is-flex-direction-column">
        {% if bio.academic_title %}
        <div class="my-1">
          <span class="is-main">Academic Title : </span>
          <span>{{ bio.academic_title }}</span>
        </div>
        {% endif %}
        {% if bio.major %}
        <div class="my-1">
          <span class="is-main">Major : </span>
          <span>{{ bio.major }}</span>
        </div>
        {% endif %}
        {% if bio.specialty %}
        <div class="my-1">
          <span class="is-main">Specialty : </span>
          <span>{{ bio.specialty }}</span>
        </div>
        {% endif %}
        {% if bio.position %}
        <div class="my-1">
          <span class="is-main">Position : </span>
          <span>{{ bio.position }}</span>
        </div>
        {% endif %}
        {% if bio.occupation %}
        <div class="my-1">
          <span class="is-main">Occupation : </span>
          <span>{{ bio.occupation }}</span>
        </div>
        {% endif %}
        {% if bio.personal_email %}
        <div class="my-1">
          <span class="is-main">Personal Email : </span>
          <span><a href="mailto:{{ bio.personal_email }}">{{ bio.personal_email }}</a></span>
        </div>
        {% endif %}
      </div>

      <div class="is-flex is-flex-direction-column">
        {% if bio.college %}
        <div class="my-1">
          <span class="is-main">College | Center : </span>
          <span>{{ bio.college }}</span>
        </div>
        {% endif %}
        {% if bio.department %}
        <div class="my-1">
          <span class="is-main"> Department : </span>
          <span>{{ bio.department }}</span>
        </div>
        {% endif %}
        {% if bio.mother_lang %}
        <div class="my-1">
          <span class="is-main">Mother Language :</span>
          <span>{{ bio.mother_lang }}</span>
        </div>
        {% endif %}
        {% if bio.other_langs %}
        <div class="my-1">
          <span class="is-main">Other Languages :</span>
          <span>{{ bio.other_langs }}</span>
        </div>
        {% endif %}
        {% if bio.work_email %}
        <div class="my-1">
          <span class="is-main">Work Email : </span>
          <span><a href="mailto:{{ bio.work_email }}">{{ bio.work_email }}</a></span>
        </div>
        {% endif %}
      </div>
    </div>

    {% else %}

    <div class="is-flex is-justify-content-space-around is-flex-wrap-wrap">
      <div class="is-flex is-flex-direction-column">
        {% if bio.ar_academic_title %}
        <div class="my-1">
          <span class="is-main is-arabic">اللقب العلمي : </span>
          <span class="is-arabic">{{ bio.ar_academic_title }}</span>
        </div>
        {% endif %}
        {% if bio.ar_major %}
        <div class="my-1">
          <span class="is-main is-arabic">التخصص : </span>
          <span class="is-arabic">{{ bio.ar_major }}</span>
        </div>
        {% endif %}
        {% if bio.ar_specialty %}
        <div class="my-1">
          <span class="is-main is-arabic">التخصص الدقيق : </span>
          <span class="is-arabic">{{ bio.ar_specialty }}</span>
        </div>
        {% endif %}
        {% if bio.ar_position %}
        <div class="my-1">
          <span class="is-main is-arabic">المنصب : </span>
          <span class="is-arabic">{{ bio.ar_position }}</span>
        </div>
        {% endif %}
        {% if bio.ar_occupation %}
        <div class="my-1">
          <span class="is-main is-arabic">المهنة : </span>
          <span class="is-arabic">{{ bio.ar_occupation }}</span>
        </div>
        {% endif %}
        {% if bio.ar_hiring_date %}
        <div class="my-1">
          <span class="is-main is-arabic">تاريخ التعيين : </span>
          <span class="is-arabic">{{ bio.ar_hiring_date|date:"Y-m-d" }}</span>
        </div>
        {% endif %}
        {% if bio.ar_direct_date %}
        <div class="my-1">
          <span class="is-main is-arabic">تاريخ أول مباشرة : </span>
          <span class="is-arabic">{{ bio.ar_direct_date|date:"Y-m-d" }}</span>
        </div>
        {% endif %}
        {% if bio.personal_email %}
        <div class="my-1">
          <span class="is-main is-arabic">البريد الشخصي : </span>
          <span><a href="mailto:{{ bio.personal_email }}">{{ bio.personal_email }}</a></span>
        </div>
        {% endif %}
      </div>

      <div class="is-flex is-flex-direction-column">
        {% if bio.ar_college %}
        <div class="my-1">
          <span class="is-main is-arabic">الكلية | المركز : </span>
          <span class="is-arabic">{{ bio.ar_college }}</span>
        </div>
        {% endif %}
        {% if bio.ar_department %}
        <div class="my-1">
          <span class="is-main is-arabic">القسم : </span>
          <span class="is-arabic">{{ bio.ar_department }}</span>
        </div>
        {% endif %}
        {% if bio.ar_mother_lang %}
        <div class="my-1">
          <span class="is-main is-arabic">اللغة الأم :</span>
          <span class="is-arabic">{{ bio.ar_mother_lang }}</span>
        </div>
        {% endif %}
        {% if bio.ar_other_langs %}
        <div class="my-1">
          <span class="is-main is-arabic">اللغات الأخرى :</span>
          <span class="is-arabic">{{ bio.ar_other_langs }}</span>
        </div>
        {% endif %}
        {% if bio.ar_state %}
        <div class="my-1">
          <span class="is-main is-arabic">المحافظة : </span>
          <span class="is-arabic">{{ bio.ar_state }}</span>
        </div>
        {% endif %}
        {% if bio.ar_district %}
        <div class="my-1">
          <span class="is-main is-arabic">القضاء : </span>
          <span class="is-arabic">{{ bio.ar_district }}</span>
        </div>
        {% endif %}
        {% if bio.work_email %}
        <div class="my-1">
          <span class="is-main is-arabic">بريد العمل : </span>
          <span><a href="mailto:{{ bio.work_email }}">{{ bio.work_email }}</a></span>
        </div>
        {% endif %}
      </div>
    </div>

    {% endif %}

  </div>
{% endif %}
