{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

    <link href="{% static 'libs/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet">

    <title>{{ bio.full_name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Noto+Naskh+Arabic:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include './includes/header.html' %}
    {% include './includes/edit_personal.html' %}
    {% include './includes/edit_publications.html' %}
    {% include './includes/edit_links.html' %}
    {% include './includes/footer.html' %}
  </body>
  <script src="{% static 'js/main.js' %}"></script>
</html>
