[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User={username}
Group=www-data

WorkingDirectory={projectdir}
ExecStart={venvdir}/bin/gunicorn -w {workers} bookless.asgi:application -k uvicorn.workers.UvicornWorker

#Environment="PATH={venvdir}/bin"
#Environment="VIRTUAL_ENV={venvdir}"
#Environment="PYTHONPATH={projectdir}"
Restart=on-failure

[Install]
WantedBy=multi-user.target
